$container: 1200px;

$x-lg-height: 1200px;
$x-lg-mob-height: 1000px;
$lg-height: 1000px;
$lg-mob-height: 800px;
$medium-height: 800px;
$medium-mob-height: 555px;
$sm-height: 500px;
$sm-mob-height: 500px;
$xs-height: 350px;
$xs-mob-height: 350px;

$font-lg-title-size: 64px;
$font-md-title-size: 50px;
$font-lg-txt-size: 24px;
$font-md-txt-size: 20px;

$font-lg-title-mobile-size: 40px;
$font-md-title-mobile-size: 30px;
$font-lg-txt-mobile-size: 18px;
$font-md-txt-mobile-size: 16px;

$margin: 50px;
$mob-margin: 20px;

@media (max-width: 640px) {
    .hide--desktop {
        display: block !important;
    }
    .hide--mobile {
        display: none !important;
    }
}
@media (min-width: 641px) {
    .hide--desktop {
        display: none !important;
    }
    .hide--mobile {
        display: block !important;
    }
}

@font-face {
    font-family: "FFDaxWebProLight";
    src: url("./font.woff2") format('woff2'), url("./font.woff") format('woff');
}

body {
    * {
        font-family: "FFDaxWebProLight", sans-serif;
    }
}

body.template-collection {
    background-color: #e3dee5;
    padding-bottom: 0px;
    #store-messages {
        border: 0px;
    }
    #shopify-section-header {
        position: absolute;
        z-index: 100;
        width: 100%;
        #pageheader {
            background: transparent;
        }
        #main-nav {
            border: 0px;
            .multi-level-nav {
                & > div {
                    background: transparent;
                    border: 0px;
                }
            }
        }
    }
}
#shopify-section-hero {
    .global-hero {
        position: relative;
        overflow: hidden;
        &.full_width {
            max-width: 100%;
        }
        &.fixed_width {
            max-width: $container;
            margin-left: auto;
            margin-right: auto;
        }
        &.adapt {
            height: 100%;
        }
        &.x-small {
            img {
                height: $xs-height;
                @media (max-width: 640px) {
                    height: $xs-mob-height;
                }    
            }
            height: $xs-height;
            @media (max-width: 640px) {
                height: $xs-mob-height;
            }
        }
        &.small {
            img {
                height: $sm-height;
                @media (max-width: 640px) {
                    height: $sm-mob-height;
                }    
            }
            height: $sm-height;
            @media (max-width: 640px) {
                height: $sm-mob-height;
            }
        }
        &.medium {
            img {
                height: auto;
                @media (max-width: 640px) {
                    height: $medium-mob-height;
                }    
            }
            height: auto;
            @media (max-width: 640px) {
                height: $medium-mob-height;
            }
        }
        &.large {
            img {
                height: $lg-height;
                @media (max-width: 640px) {
                    height: $lg-mob-height;
                }    
            }
            height: $lg-height;
            @media (max-width: 640px) {
                height: $lg-mob-height;
            }
        }
        &.x-large {
            img {
                height: $x-lg-height;
                @media (max-width: 640px) {
                    height: $x-lg-mob-height;
                }    
            }
            height: $x-lg-height;
            @media (max-width: 640px) {
                height: $x-lg-mob-height;
            }
        }
        .global-hero__image-wrapper {
            img {
               width: 100%;
                object-fit: cover;
            }
            // height: 0;
            // position: relative;
            // img {
            //     position: absolute;
            //     height: 100%;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            // }
        }
        .global-hero__body {
            margin-top: 92px;
            position: absolute;
            &.top.left {
                top: $margin;
                left: $margin;
                @media (max-width: 640px) {
                    top: $mob-margin;
                    left: $mob-margin;
                }
            }
            &.top.center {
                top: $margin;
                left: 50%;
                transform: translateX(-50%);
                @media (max-width: 640px) {
                    top: $mob-margin;
                }
            }
            &.top.right {
                top: $margin;
                right: $margin;
                @media (max-width: 640px) {
                    top: $mob-margin;
                    right: $mob-margin;
                }
            }
            &.middle.left {
                top: 50%;
                transform: translateY(-50%);
                left: $margin;
                @media (max-width: 640px) {
                    left: $mob-margin;
                }
            }
            &.middle.center {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &.middle.right {
                top: 50%;
                transform: translateY(-50%);
                right: $margin;
                @media (max-width: 640px) {
                    right: $mob-margin;
                }
            }
            &.bottom.left {
                bottom: $margin;
                left: $margin;
                @media (max-width: 640px) {
                    left: $mob-margin;
                }
            }
            &.bottom.center {
                bottom: $margin;
                left: 50%;
                transform: translateX(-50%);
                @media (max-width: 640px) {
                    bottom: $mob-margin;
                }
            }
            &.bottom.right {
                bottom: $margin;
                right: $margin;
                @media (max-width: 640px) {
                    bottom: $mob-margin;
                    right: $mob-margin
                }
            }
            .global-hero__title {
                &.medium {
                    font-size: $font-md-title-size;
                    @media (max-width: 640px) {
                        font-size:  $font-md-title-mobile-size;
                    }
                }
                &.large {
                    font-size: $font-lg-title-size;
                    @media (max-width: 640px) {
                        font-size:  $font-lg-title-mobile-size;
                    }
                }
            }
            .global-hero__text {
                font-weight: inherit;
                p {
                    text-align: right;
                    line-height: 1.2;
                }
                strong {
                    font-weight: inherit;
                    display: block;
                }
                &.medium {
                    font-size: $font-md-txt-size;
                    @media (max-width: 640px) {
                        font-size:  $font-md-txt-mobile-size;
                    }
                }
                &.large {
                    font-size: $font-lg-txt-size;
                    @media (max-width: 640px) {
                        font-size:  $font-lg-txt-mobile-size;
                    }
                }
            }
        }
    }
}

#shopify-section-collection-template_1 {
    .product__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #e3dee5;
        @media (max-width: 640px) {
            grid-template-columns: 1fr;       
        }
        .grid__item {
            position: relative;
            @media (max-width: 640px) {
                margin-bottom: 20px;
                display: flex;
            }
            .image__wraper {
                position: relative;
                @media (min-width: 641px) {
                    padding-top: unset !important;
                }
                img {
                    max-width: 60%;
                }
                @media (max-width: 640px) {
                    height: 0;
                    padding-top: 60% !important;
                    min-width: 60%;
                    max-width: 60%;
                    img {
                        max-width: 100% !important;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                
            }
            .grid_title {
                position: absolute;
                color: #3f2c42;
                font-size: 1.75vw;
            }
            @media (max-width: 640px) {
                .grid_title {
                    min-width: 40%;
                    max-width: 40%;
                    flex: 1;
                    left: 80% !important;
                    top: 50% !important;
                    transform: translate(-50%, -50%) !important;
                    max-width: 100% !important;
                    text-align: center !important;
                    line-height: 1.4 !important;
                }
            }
        }
        & .grid__item:nth-child(1) {
            .grid_title {
                left: 30%;
                top: 35%;
                max-width: 37%;
                text-align: center;
                line-height: 1.4;
                font-weight: 500;
            }
        }
        & .grid__item:nth-child(2) {
            .image__wraper {
                text-align: right;
            }
            .grid_title {
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%);
                max-width: 37%;
                text-align: center;
                line-height: 1.4;
            }
        }
        & .grid__item:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 3;
            margin-top: 50px;
            margin-bottom: 50px;
            .image__wraper {
                text-align: right;
            }
            @media (max-width: 640px) {
                grid-column-end: 1;
            }
            .grid_title {
                left: 60%;
                top: 50%;
                transform: translate(-50%, -50%);
                max-width: 19%;
                text-align: center;
                line-height: 1.4;
            }
        }
        & .grid__item:nth-child(4) {
            .image__wraper {
                text-align: center;
            }
            .grid_title {
                left: 20%;
                top: 10%;
                max-width: 40%;
                text-align: center;
                line-height: 1.4;
            }
        }
        & .grid__item:nth-child(5) {
            .image__wraper {
                text-align: center;
            }
            .grid_title {
                left: 50%;
                top: 20%;
                max-width: 37%;
                text-align: center;
                line-height: 1.4;
            }
        }
    }
    .image__text {
        background-repeat: no-repeat !important;
        background-color: #e3dee5 !important;
        padding-top: 60px;
        
        .image-text__item {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            max-width: 690px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            -webkit-box-shadow: -13px 13px 18px 5px rgba(0,0,0,0.2); 
            box-shadow: -13px 13px 18px 5px rgba(0,0,0,0.2);
            .img__wrapper {
                position: relative;
                max-width: fit-content;
                min-width: 20%;
                flex: 1;
            }
            .text__content {
                text-align: right;
                color: #3f2c42;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 15px;
                padding-left: 15px;
                .title {
                    color: #3f2c42;
                    font-size: 25px;
                    line-height: 1.6;
                }
                .text {
                    font-size: 16px;
                    line-height: 1;
                }
            }
        }
    }
    .block__content {
        // max-width: 1200px;
        background-color: #e3dee5;
        // margin-left: auto;
        // margin-right: auto;
        .block__title {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            font-size: 26px;
            color: #3f2c42;
            margin-bottom: 50px;
            font-weight: 300;
            margin-top: 50px;
            &::before {
                position: absolute;
                content: '';
                width: calc(100% + 16px);
                height: 1px;
                top: -6px;
                background: #1f0c20;
                left: -8px;
            }
            &::after {
                position: absolute;
                content: '';
                width: calc(100% + 16px);
                height: 1px;
                bottom: -6px;
                background: #1f0c20;
                left: -8px;
            }
        }
        .block__items {
            max-width: 690px;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media (max-width: 640px) {
                grid-template-columns: 1fr;
                max-width: calc(100% - 30px);
            }
            .block__item {
                background: #f7f5f4;
                color: #1f0c20;
                padding: 20px;
                margin-bottom: 40px;
                -webkit-box-shadow: -13px 13px 18px 5px rgba(0,0,0,0.2); 
                box-shadow: -13px 13px 18px 5px rgba(0,0,0,0.2);
                position: relative;
                .block-item__title {
                    text-align: center;
                    font-size: 24px;
                    color: #1f0c20;
                    line-height: 1.2;
                }
                .block-item__text {
                    font-size: 18px;
                    line-height: 1.2;
                    margin-top: 10px;
                    a {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: '';
                            bottom: -2px;
                            width: 100%;
                            height: 1px;
                            background: #3f2c42;
                            left: 0;
                        }
                    }
                }
            }
            & .block__item:nth-child(2n) {
                margin-left: 13px;
                @media (max-width: 640px) {
                    margin-left: 0px;
                }
            }
            & .block__item:nth-child(2n+1) {
                margin-right: 13px;
                @media (max-width: 640px) {
                    margin-left: 0px;
                }
            }
            & .block__item:last-child {
                width: 188%;
                display: flex;
                justify-content: center;
                align-items: center;
                .block-item__title {
                    text-align: left;
                }
                @media (max-width: 640px) {
                    width: unset;
                    .block-text__content {
                        max-width: 75%;
                    }
                }
            }
        }
    }
    .block-product__content {
        .block__title {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            font-size: 26px;
            color: #1f0c20;
            margin-bottom: 50px;
            font-weight: 300;
            margin-top: 50px;
            &::before {
                position: absolute;
                content: '';
                width: calc(100% + 16px);
                height: 1px;
                top: -6px;
                background: #1f0c20;
                left: -8px;
            }
            &::after {
                position: absolute;
                content: '';
                width: calc(100% + 16px);
                height: 1px;
                bottom: -6px;
                background: #1f0c20;
                left: -8px;
            }
        }
    }
    .product__slider {
        // max-width: 1200px;
        // margin-left: auto;
        // margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        .slick-arrow:first-child {
            position: absolute;
            left: 7px;
            top: calc(50% - 20px);
            transform: translateY(-50%);
            color: #3f2c42;
            font-size: 40px;
            cursor: pointer;
        }
        .slick-arrow:last-child {
            position: absolute;
            right: 7px;
            top: calc(50% - 20px);
            transform: translateY(-50%);
            color: #3f2c42;
            font-size: 40px;
            cursor: pointer;
        }
        .product-image__warraper {
            height: 0;
            position: relative;
            padding-top: 100% !important;
            img {
                position: absolute;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                object-fit: cover;
            }
        }
        .product-item__title {
            text-align: center;
            line-height: 1.2;
            color: #3f2c42;
            margin-top: 5px;
        }
    }
}

