$container: 1200px;

$x-lg-height: 1200px;
$x-lg-mob-height: 1000px;
$lg-height: 1000px;
$lg-mob-height: 800px;
$medium-height: 800px;
$medium-mob-height: 555px;
$sm-height: 500px;
$sm-mob-height: 500px;
$xs-height: 350px;
$xs-mob-height: 350px;

$font-lg-title-size: 64px;
$font-md-title-size: 50px;
$font-lg-txt-size: 24px;
$font-md-txt-size: 20px;

$font-lg-title-mobile-size: 40px;
$font-md-title-mobile-size: 30px;
$font-lg-txt-mobile-size: 18px;
$font-md-txt-mobile-size: 16px;

$margin: 50px;
$mob-margin: 20px;

@media (max-width: 640px) {
    .hide--desktop {
        display: block !important;
    }
    .hide--mobile {
        display: none !important;
    }
}
@media (min-width: 641px) {
    .hide--desktop {
        display: none !important;
    }
    .hide--mobile {
        display: block !important;
    }
}
body.template-collection {
    background-color: #e4dee5;
    padding-bottom: 0px;
    #store-messages {
        border: 0px;
    }
    #shopify-section-header {
        position: absolute;
        z-index: 100;
        width: 100%;
        #pageheader {
            background: transparent;
        }
        #main-nav {
            border: 0px;
            .multi-level-nav {
                & > div {
                    background: transparent;
                    border: 0px;
                }
            }
        }
    }
}

#shopify-section-hero {
    .global-hero {
        position: relative;
        overflow: hidden;
        &.full_width {
            max-width: 100%;
        }
        &.fixed_width {
            max-width: $container;
            margin-left: auto;
            margin-right: auto;
        }
        &.adapt {
            height: 100%;
        }
        &.x-small {
            img {
                height: $xs-height;
                @media (max-width: 640px) {
                    height: $xs-mob-height;
                }    
            }
            height: $xs-height;
            @media (max-width: 640px) {
                height: $xs-mob-height;
            }
        }
        &.small {
            img {
                height: $sm-height;
                @media (max-width: 640px) {
                    height: $sm-mob-height;
                }    
            }
            height: $sm-height;
            @media (max-width: 640px) {
                height: $sm-mob-height;
            }
        }
        &.medium {
            img {
                height: 100vh;
                @media (max-width: 640px) {
                    height: $medium-mob-height;
                }    
            }
            height: 100vh;
            @media (max-width: 640px) {
                height: $medium-mob-height;
            }
        }
        &.large {
            img {
                height: $lg-height;
                @media (max-width: 640px) {
                    height: $lg-mob-height;
                }    
            }
            height: $lg-height;
            @media (max-width: 640px) {
                height: $lg-mob-height;
            }
        }
        &.x-large {
            img {
                height: $x-lg-height;
                @media (max-width: 640px) {
                    height: $x-lg-mob-height;
                }    
            }
            height: $x-lg-height;
            @media (max-width: 640px) {
                height: $x-lg-mob-height;
            }
        }
        .global-hero__image-wrapper {
            img {
               width: 100%;
                object-fit: cover;
            }
            // height: 0;
            // position: relative;
            // img {
            //     position: absolute;
            //     height: 100%;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            // }
        }
        .global-hero__body {
            margin-top: 92px;
            position: absolute;
            &.top.left {
                top: $margin;
                left: $margin;
                @media (max-width: 640px) {
                    top: $mob-margin;
                    left: $mob-margin;
                }
            }
            &.top.center {
                top: $margin;
                left: 50%;
                transform: translateX(-50%);
                @media (max-width: 640px) {
                    top: $mob-margin;
                }
            }
            &.top.right {
                top: $margin;
                right: $margin;
                @media (max-width: 640px) {
                    top: $mob-margin;
                    right: $mob-margin;
                }
            }
            &.middle.left {
                top: 50%;
                transform: translateY(-50%);
                left: $margin;
                @media (max-width: 640px) {
                    left: $mob-margin;
                }
            }
            &.middle.center {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &.middle.right {
                top: 50%;
                transform: translateY(-50%);
                right: $margin;
                @media (max-width: 640px) {
                    right: $mob-margin;
                }
            }
            &.bottom.left {
                bottom: $margin;
                left: $margin;
                @media (max-width: 640px) {
                    left: $mob-margin;
                }
            }
            &.bottom.center {
                bottom: $margin;
                left: 50%;
                transform: translateX(-50%);
                @media (max-width: 640px) {
                    bottom: $mob-margin;
                }
            }
            &.bottom.right {
                bottom: $margin;
                right: $margin;
                @media (max-width: 640px) {
                    bottom: $mob-margin;
                    right: $mob-margin
                }
            }
            .global-hero__title {
                &.medium {
                    font-size: $font-md-title-size;
                    @media (max-width: 640px) {
                        font-size:  $font-md-title-mobile-size;
                    }
                }
                &.large {
                    font-size: $font-lg-title-size;
                    @media (max-width: 640px) {
                        font-size:  $font-lg-title-mobile-size;
                    }
                }
            }
            .global-hero__text {
                font-weight: inherit;
                p {
                    text-align: right;
                    line-height: 1.2;
                }
                strong {
                    font-weight: inherit;
                    display: block;
                }
                &.medium {
                    font-size: $font-md-txt-size;
                    @media (max-width: 640px) {
                        font-size:  $font-md-txt-mobile-size;
                    }
                }
                &.large {
                    font-size: $font-lg-txt-size;
                    @media (max-width: 640px) {
                        font-size:  $font-lg-txt-mobile-size;
                    }
                }
            }
        }
    }
}

#shopify-section-collection-template_1 {
    .product__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #e4dee5;
        @media (max-width: 640px) {
            grid-template-columns: 1fr;       
        }
        .grid__item {
            position: relative;
            .image__wraper {
                position: relative;
                @media (min-width: 641px) {
                    padding-top: unset !important;
                }
                @media (max-width: 640px) {
                    height: 0;
                    img {
                        max-width: 100% !important;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                
            }
            .grid_title {
                position: absolute;
            }
            @media (max-width: 640px) {
                .grid_title {
                    left: calc(50% + 20px) !important;
                    top: 50% !important;
                    transform: translateY(-50%, -50%) !important;
                    max-width: 25% !important;
                    text-align: center !important;
                    line-height: 1.4 !important;
                }
            }
        }
        & .grid__item:nth-child(1) {
            .grid_title {
                left: 50%;
                top: 40%;
                max-width: 40%;
                text-align: center;
                line-height: 1.4;
            }
        }
        & .grid__item:nth-child(2) {
            .grid_title {
                left: 50%;
                top: 50%;
                transform: translateY(-50%);
                max-width: 40%;
                text-align: center;
                line-height: 1.4;
            }
        }
        & .grid__item:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 3;
            .image__wraper {
                text-align: center;
            }
            @media (max-width: 640px) {
                grid-column-end: 1;
            }
            .grid_title {
                left: calc(40% - 10%);
                top: 50%;
                transform: translateY(-50%, -50%);
                max-width: 40%;
                text-align: center;
                line-height: 1.4;
            }
        }
        & .grid__item:nth-child(4) {
            .grid_title {
                left: 10%;
                top: 10%;
                max-width: 40%;
                text-align: center;
                line-height: 1.4;
            }
        }
        & .grid__item:nth-child(5) {
            .grid_title {
                left: 60%;
                top: 15%;
                max-width: 40%;
                text-align: center;
                line-height: 1.4;
            }
        }
    }
    .image__text {
        background-repeat: no-repeat !important;
        background-color: #e4dee5 !important;
        padding-top: 60px;
        & .image-text__item:nth-child(3) {
            .text__content {
                top: calc(50% - 5px) !important;
            }
        }
        & .image-text__item:nth-child(5) {
            .text__content {
                top: calc(50% - 10px) !important;
            }
        }
        & .image-text__item:nth-child(7) {
            .text__content {
                top: calc(50% - 10px) !important;
            }
        }
        .image-text__item {
            display: flex;
            justify-content: center;
            .img__wrapper {
                position: relative;
                max-width: fit-content;
                img {
                    @media (max-width: 640px) {
                        min-height: 200px;
                    }
                }
                .text__content {
                    position: absolute;
                    top: calc(50% - 15px);
                    transform: translateY(-50%);
                    right: 20%;
                    max-width: 75%;
                    color: #4F0708;
                    text-align: right;
                    .title {
                        font-size: 20px;
                        margin-top: 10px;
                    }
                    .text {
                        line-height: 16px;
                        margin-top: 5px;
                        word-break: break-all;
                    }
                }
            }
        }
    }
    .block__content {
        max-width: 1200px;
        background-color: #e4dee5;
        margin-left: auto;
        margin-right: auto;
        .block__title {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            font-size: 26px;
            color: #1f0c20;
            margin-bottom: 50px;
            font-weight: 300;
            margin-top: 50px;
            &::before {
                position: absolute;
                content: '';
                width: calc(100% + 16px);
                height: 1px;
                top: -6px;
                background: #1f0c20;
                left: -8px;
            }
            &::after {
                position: absolute;
                content: '';
                width: calc(100% + 16px);
                height: 1px;
                bottom: -6px;
                background: #1f0c20;
                left: -8px;
            }
        }
        .block__items {
            max-width: 56%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media (max-width: 640px) {
                grid-template-columns: 1fr;
                max-width: calc(100% - 30px);
            }
            .block__item {
                background: #f7f5f4;
                color: #1f0c20;
                padding: 20px;
                margin-bottom: 35px;
                box-shadow: #00000044 -5px 5px 5px 5px;
                position: relative;
                .block-item__text {
                    a {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: '';
                            bottom: -2px;
                            width: 100%;
                            height: 1px;
                            background: #4F0708;
                            left: 0;
                        }
                    }
                }
            }
            & .block__item:nth-child(2n) {
                margin-left: 35px;
                @media (max-width: 640px) {
                    margin-left: 0px;
                }
            }
            & .block__item:last-child {
                width: 188%;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 640px) {
                    width: unset;
                    .block-text__content {
                        max-width: 75%;
                    }
                }
            }
        }
    }
}

